<!DOCTYPE html>
<html>
  <head>
    <title>Checkers</title>
    <!-- Stylesheet checkers.css -->
    <link rel="stylesheet" href="../static/css/checkers.css">
    <!-- Front-End code from checkers.js -->
    <script src="../static/js/data.js"></script>
    <script src="../static/js/session.js"></script>
  </head>
  <body>
    <p>Session: </p><p id="session"></p>
    <p>Player: </p><p id="player"></p>
    <p>Opponent: </p><p id="opponent"></p>
    <!-- Start game button -->
    <button id="start_game" onclick="startGame()">Start Game</button>
  </body>
</html>